p {
    height: 100px;
    width: 100px;
    background-color: red;
    border: solid 5px blue;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 15px;
    margin: 15px;
}

.box1 {
    overflow: scroll;
    background-color: green;
    border: 5px dotted yellow;
}

#box2 {
    background-color: orange;
}

.nav {
    width: 100vv;
    height: 10vh;
    background-color: red;
}

.nav-item {
    width: 50px;
    height: 25px;
    background-color: beige;
    border: black solid 5px;
    text-decoration: none;
    color: black;

}

.nav-item:hover {
    background-color: black;
    border: beige solid 5px;
    color: beige;
}